<div class="table-responsive">
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th scope="col">Услуга</th>
				<th scope="col">Баланс на начало периода</th>
				<th scope="col">Приход</th>
				<th scope="col">Расход</th>
				<th scope="col">Перерасчет</th>
				<th scope="col">Итого</th>
			</tr>
		</thead>
		<tbody>
			{% for value in report %}
				<tr>
					<td>{{value.acnt_name}}</td>
					<td>{{value.balance}}</td>
					<td>{{value.profit}}</td>
					<td>{{value.expenditure}}</td>
					<td>{{value.recalculation}}</td>
					<td>{{value.total}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
